{% extends "base.html" %}
{% block title %}Create Post{% endblock %}

{% block content %}
<section>
    <h1 class="form-group">Create Post</h1>
    <form action="/user-details/{{user.id}}/add-post" method="POST">
        <div class="form-group col-sm-3">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control">
        </div>
        <div class="form-group col-sm-3">
            <label for="content">Content</label>
            <input type="text" name="content" class="form-control">
        </div>

        <button class="btn btn-success form-group">Add Post</button>
        <a href="/user-details/{{user.id}}" class="btn btn-outline-primary form-group">Cancel</a>
    </form>
</section>
{% endblock %}