{% extends "base.html" %}
{% block title %}Post{% endblock %}

{% block content %}

<h1 class="form-group">{{post.title}}</h1>

<p class="form-group">{{post.content}}</p>

<i class="form-group">By {{post.user.first_name}} {{post.user.last_name}}</i>
<br>

{% if tags != [] %}
<div class="form-group">
    <b>Tags:</b>
    {% for tag in tags %}
    <span class="tags">{{tag.tag_name}}</span>
    {% endfor %}
</div>
{% endif %}
<a href="/user-details/{{post.user.id}}" class='btn btn-outline-primary form-group'>Back</a>
<a href="/user-details/{{post.user.id}}/{{post.id}}/edit-post" class='btn btn-primary form-group'>Edit</a>
<a href="/user-details/{{user.id}}/{{post.id}}/delete-post" class="btn btn-danger form-group">Delete</a>
{% endblock %}