{% extends "base.html" %}
{% block title %}Tag Details{% endblock %}

{% block content %}

<h1 class="form-group">{{tag.tag_name}}</h1>
<div class="list-group col-sm-3 form-group">
    {% for post in posts %}
    <a href="/user-details/{{post.user.id}}/{{post.id}}"
        class="list-group-item list-group-item-action">{{post.title}}</a>
    {% endfor %}
</div>
<a href="" class="form-group btn btn-primary">Edit</a>
<a href="" class='btn btn-primary form-group'>Delete</a>
<a href="/tags" class='btn btn-outline-primary form-group'>Back</a>
{% endblock %}

tag
posts